<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Emission Calculator </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> -->
</head>
<body>
               <!-- NAVBAR 1 -->
               <nav class="bar1">
                    <div class="logo">
                        <a href="index.html"><img src="{{ url_for('static', filename='IMAGES/logo.png') }}"></a>
                        
                    </div>
                    <div class="logo_title">
                        <h2>DevDynos</h2>
                    </div>
                    
                    
                    <div class="navigation1">
                        <div class="addresses">
                            <img src="{{ url_for('static', filename='IMAGES/logo2.png') }}" alt="">
                            <div class="add1">
                                <p class="add1_font1">INDIA  </p>
                                <p class="add1_font2">Greater NOIDA,</p> 
                            </div>
                            <div class="add2">
                                <p class="add2_font1">DevDynamos@gmail.com </p>
                                <p class="add2_font2">8126659299</p> 
                            </div>
                            <div class="add3">
                                <p class="add3_font1">8359285283502</p>
                                <p class="add3_font2">Galgotias University</p> 
                            </div>
                            
                        </div>
                    </div>
               </nav>
               <!-- line  -->
               <div class="line">
                    <hr>
               </div>
               <!-- NAVBAR 2  -->
               <nav class="bar2">
                    
                <div class="navigation2">
                  <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="Aboutus.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="login.html"><button class="button_signin"> My Account</button></a></li>
                    <li>
                    <div class="icons">
                        <div class="container">
                            <a href="" class="icon icon-instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="" class="icon icon-twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="" class="icon icon-github">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    </li>
                    <li>
                        <div class="serch">
                            <div class="inputBx">
                                <input type="text" placeholder="Search">
                            </div>
                        </div>
                    </li>
                  </ul>
                  
                  
                </div>
               </nav>



               <!-- Hero Section 1  -->
               <div class="container_hero">
                <div class="content">
                    <h1 class="text_first">Empowering</h1>
                    <h1 class="text_sec">Indian Coal Mines</h1>
                    <h1 class="text_third">to Achieve Carbon Neutrality.</h1>
                    <p>Quantifying emissions, 
                        Analyzing carbon sinks,
                        And charting pathways to a sustainable future.</p>
                    <a href="Inputpage"><button class="learn-more">Get Started</button></a>
                </div>
            </div>

               <!-- Hero Section 2  -->
               <section class="about-section">
                <div class="container_SEC2">
                    <div class="about-content">
                        <P class="abtus">About US</P>
                        <h1>Empower Your Mining <br> Operations with Cutting-Edge <br> Technology.</h1>
                        <p class="sec2_text1">Gain deep insights into your mine's <br> carbon footprint and explore <br>
                             actionable pathways to achieve <br> carbon neutrality.</p>
                        <p class="sec2_text2">Our intuitive tool simplifies complex data <br> providing you with clear and concise <br> strategies tailored to your specific needs.</p>
                        <a href="#" class="learn-more">Learn More.</a>
                    </div>
                    <div class="boxes">
                        <div class="box1">
                            <div class="number">1248.</div>
                            <div class="dots">••</div>
                            <div class="info">
                                <p>Aerial</p>
                                <p>Application</p>
                            </div>
                        </div>
                        <div class="box2">
                            <div class="number">321.</div>
                            <div class="dots">••</div>
                            <div class="info">
                                <p>Aerial</p>
                                <p>Application</p>
                            </div>
                        </div>
                        <div class="box3">
                            <div class="number">27.</div>
                            <div class="dots">••</div>
                            <div class="info">
                                <p>Aerial</p>
                                <p>Application</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Hero Section 3  -->
            <div class="container_SEC3">
                <div class="content_SEC3">
                    <h1 class="sec3_head">Bridging the Gap Between Energy and Sustainability.</h1>
                    <p class="sec3_p1">Analyzing Carbon Footprint Trends and Exploring Sustainability Options</p>
                    <p class="sec3_p2">Understand the impact of mining operations on the <br> environment through detailed carbon footprint analysis.</p>
                    <p class="sec3_p3">This section highlights emission trends over time and <br> offers innovative sustainability strategies, from adopting <br> clean technologies to exploring afforestation and <br> renewable energy solutions, guiding you toward a more <br> sustainable and carbon-neutral future.</p>
                </div>
                <div class="stats">
                    <div class="stat-box" id="sec3_box1">
                        <h1 class="sec3_bots">•</h1>
                        <h2>Mines Assessed:</h2>
                        <p>Number of mines or projects using the tool</p>
                    </div>
                    <div class="stat-box" id="sec3_box2">
                        <h1 class="sec3_bots">•</h1>
                        <h2>Total Carbon Footprint Analyzed:</h2>
                        <p>Cumulative data on emissions measured by the tool.</p>
                    </div>
                    <div class="stat-box" id="sec3_box3">
                        <h1 class="sec3_bots">•</h1>
                        <h2>Emission Reductions Achieved:</h2>
                        <p>Display the impact of using the application on reducing carbon emissions.</p>
                    </div>
                    <div class="stat-box" id="sec3_box4">
                        <h1 class="sec3_bots">•</h1>
                        <h2>Discover Our Impact:</h2>
                        <p>Links to detailed case studies or reports on the tool's effectiveness.</p>
                    </div>
                </div>
            </div>
            <!-- HERO SECTION 4  -->
            <div class="section4">
                <h1>Transforming <br>Mining Operations for <br> a Greener Tomorrow.</h1>
                <div class="image-grid">
                    <div class="image-box1"></div>
                    <div class="image-box2"></div>
                    <div class="image-box3"></div>
                    <div class="image-box4"></div>
                    <div class="image-box5"></div>
                    <div class="image-box6"></div>
                </div>
            </div>

            <!-- HERO SECTION 5  -->
            <div class="sec5">
                <section class="carbon-neutrality">
                <h3>How we work -></h3>
                <h1>How We Help You<br>Achieve Carbon Neutrality</h1>
                <div class="steps">
                    <div class="step">
                        <h2 class="white">1.</h2>
                        <h4>Data Collection:</h4>
                        <p>Gathering input data from mining activities.</p>
                    </div>
                    <div class="step">
                        <h2 class="white">2.</h2>
                        <h4>Emission Estimation:</h4>
                        <p>Using the tool to calculate the mine's carbon footprint.</p>
                    </div>
                    <div class="step">
                        <h2>3.</h2>
                        <h4>Strategy Development:</h4>
                        <p>Identifying and simulating various carbon reduction strategies.</p>
                    </div>
                    <div class="step">
                        <h2>4.</h2>
                        <h4>Implementation & Monitoring:</h4>
                        <p>Applying the strategies and tracking progress.</p>
                    </div>
                </div>
            </section>
            </div>
            
            <!-- HERO SECTION 6  -->
            <section class="future-of-mining">
                <div class="content_SEC5">
                    <h1>Join Us In Shaping the<br>Future of Mining!</h1>
                    <div class="email-input">
                        <input type="email" placeholder="Your Email">
                        <button type="submit"><i class="search-icon"></i></button>
                    </div>
                </div>
                
            </section>

            <!-- Hero FOOTER  -->
             <div class="footer_main">
                <footer class="footer">
                    <div class="container_footer">
                        <div class="row">
                            <div class="footer-col">
                                <h4>company</h4>
                                <ul>
                                    <li><a href="#">about us</a></li>
                                    <li><a href="#">our services</a></li>
                                    <li><a href="#">privacy policy</a></li>
                                    <li><a href="#">affiliate program</a></li>
                                </ul>
                            </div>
                            <div class="footer-col">
                                <h4>get help</h4>
                                <ul>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">shipping</a></li>
                                    <li><a href="#">returns</a></li>
                                    <li><a href="#">order status</a></li>
                                    <li><a href="#">payment options</a></li>
                                </ul>
                            </div>
                            <div class="footer-col">
                                <h4>Features</h4>
                                <ul>
                                    <li><a href="#">Input Data</a></li>
                                    <li><a href="#">Upload File</a></li>
                                    <li><a href="#">Example File</a></li>
                                    <li><a href="#">Log in</a></li>
                                </ul>
                            </div>
                            <div class="footer-col">
                                <h4>follow us</h4>
                                <div class="social-links">
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
               </footer>
             </div>


             <!-- SCRIPT  -->

             <script src="Index.js">

             </script>






</body>